#input{
display: flex;
justify-content: center;
padding-top: 2%;

}

#outputMessage{
    text-align: center;
    padding-top: 10px;
}

#buttons{
    padding-top: 10px;
}

#spongebob{
    display: flex;
    justify-content: center;
}

img{
    padding-top: 2%;
    width: 25%;
}
